@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --black: #282b2b;
    --green: #32a852;
    --greenfill: #c9f5d5;
    --blue: #00a8d7;
    --bluefill: #87e1fa;
    --shadow: rgba(50, 74, 81, 0.5);
    --white: #eaf7fa;
}

.support {
    margin-bottom: 15px;
}
body {
    background-color: white;
}
.bot {
    text-align: left;
    color: var(--black);
    border-radius: 10px 10px 10px 0px;
    border-color: var(--blue);
    background: var(--bluefill);
    box-shadow: 3px 5px var(--shadow);
    /* box-shadow: -5px  3px 5px var(--shadow); */
}

.response {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    color: var(--black);  
    border-radius: 10px 10px 0px 10px;
    border-color: var(--green);
    background: white;
    box-shadow: 3px 5px var(--shadow);
}

.chat {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border-style: solid; 
    border-width: thin;
    padding:10px;
    margin-top: 10px;
    max-width: 80%;
}

.sendButton {
    color: #f7f7f7;
    margin-left: 15px;
    font-size: larger;
    padding: 10px;
    background-color: #0275d8;
    border-radius: 20px 20px 20px 20px;
    border: #f7f7f7;
    box-shadow: 3px 3px var(--shadow);
}
.sendButton:hover {
    color: #0275d8;
    background-color: #5bc0de;
    border: #0275d8;
    box-shadow: none;
    cursor: pointer;
}
.question{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    padding:10px;
    border-radius:20px 20px 0px 20px;
    width: 80%;
}

input[type='text'], textarea {
  font-size: 16px;
}

.question:focus {
    border-color: blue;
    outline: none;
    background-color: rgba(202, 247, 226, 0.377);
}

.support h1 {
    text-align: left;
}